footer{
  position: absolute;
  width: 1440px;
  height: 140px;
  top: 4909px;
  left: 0px;
}


.footer_line{
position: absolute;
width: 1438px;
height: 0px;
left: 0px;
top: 0px;

border: 1px solid #ACB5BD;
}

.footer_box{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  position: absolute;
  width: 671px;
  height: 24px;
  left: calc(50% - 671px/2 - 0.5px);
  top: 25px;

}

.footer_text{
width: 192px;
height: 24px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

color: #ADB5BD;

flex: none;
order: 0;
flex-grow: 0;
}

.footer_text1{
  /* ООО «РВБ-Маркетинг» */


width: 182px;
height: 24px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

color: #ADB5BD;

flex: none;
order: 1;
flex-grow: 0;
}

.footer_text2{
  /* Политика конфиденциальности */

width: 249px;
height: 24px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

color: #ADB5BD;

flex: none;
order: 2;
flex-grow: 0;
}

.footer_image{
  position: absolute;
  width: 106px;
  height: 48px;
  left: 667px;
  top: 66.2px;
}
