.request{
position: absolute;
width: 1440px;
height: 800px;
left: 0px;
top: 4106px;
}

.request_textbox{

position: absolute;
width: 562px;
height: 471px;
left: 497px;
top: 89px;

}

.request_textbox_line1{
position: absolute;
width: 562px;
height: 79px;
}
.request_textbox_line1_text{
  /* Ваше имя * */


position: absolute;
height: 32px;
top: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;

color: #ADB5BD;
}
.request_textbox_line11{
position: absolute;
width: 562px;
height: 0px;
top: 79px;

border: 1px solid #CED4DA;
}

.request_textbox_line2{
position: absolute;
width: 562px;
height: 56px;
top: 127px;

}
.request_textbox_line2_text{
  /* Телефон или мессенджер * */

position: absolute;
bottom: 69%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;

color: #ADB5BD;

}
.request_textbox_line21{
position: absolute;
width: 562px;
height: 0px;
top: 56px;

border: 1px solid #CED4DA;
}

.request_textbox_line3{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 108px;

position: absolute;
width: 562px;
height: 140px;
top: 231px;

}
.request_textbox_line3_text{
  /* Краткое описание задачи * */

width: 943px;
height: 32px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;

color: #ACB5BD;

flex: none;
order: 0;
flex-grow: 0;
}
.request_textbox_line31{
width: 941px;
height: 0px;

border: 1px solid #CED4DA;

flex: none;
order: 1;
flex-grow: 0;
}

.request_text{
  /* Оставьте заявку */

position: absolute;
height: 62px;
left: 32px;
right: 32px;
top: 0px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 130%;

color: #212529;
}

.request_button{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10px;

position: absolute;
width: 192px;
height: 68px;
top: 403px;
}

.request_img{
position: absolute;
width: 200px;
height: 200px;
left: 35px;
top: 112px;
}

.request_img_text{
  /* Юлия Дижа */

position: absolute;
width: 135px;
height: 31px;
left: 32px;
top: 344px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 130%;

letter-spacing: -0.03em;

color: #212529;

}

.request_img_text1{
  /* Поможет запустить ваш проект */

position: absolute;
width: 288px;
height: 27px;
left: 32px;
top: 381px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 150%;

color: #343A40;

}

.request_text_brif{
  /* Скачать брифинги на: */

position: absolute;
width: 250px;
height: 31px;
left: 35px;
top: 480px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 130%;

letter-spacing: -0.03em;

color: #212529;
}

.request_text_brif1_class{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 5px;

position: absolute;
width: 207px;
height: 35px;
left: 35px;
top: 528px;
}
.request_text_brif2_class{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 5px;

position: absolute;
width: 176px;
height: 35px;
left: 35px;
top: 571px;

}
.request_text_brif3_class{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 5px;

position: absolute;
width: 209px;
height: 35px;
left: 35px;
top: 614px;

}

.request_text_brif1{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;

color: #D22020;

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 4px;

width: 207px;
height: 30px;

flex: none;
order: 0;
flex-grow: 0;
}
.request_text_brif2{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;

  color: #D22020;

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 4px;

width: 176px;
height: 30px;

flex: none;
order: 0;
flex-grow: 0;
}
.request_text_brif3{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;

  color: #D22020;

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 4px;

width: 209px;
height: 30px;

flex: none;
order: 0;
flex-grow: 0;
}

.request_text_brif1_icon{
width: 207px;
height: 0px;

border: 1px solid rgba(210, 32, 32, 0.4);

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}
.request_text_brif2_icon{
width: 176px;
height: 0px;

border: 1px solid rgba(210, 32, 32, 0.2);

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}
.request_text_brif3_icon{
width: 209px;
height: 0px;

border: 1px solid rgba(210, 32, 32, 0.2);

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}
