.portfolio_case6{
position: absolute;
width: 675.59px;
height: 585px;
left: 732.41px;
top: 1390px;
}

.portfolio_case6_up{
/* Frame 266 */


position: absolute;
width: 675.59px;
height: 513px;

background: linear-gradient(90deg, #FFF1EB 0%, #ACE0F9 100%), #EEEEEE;
border-radius: 8px;
}

.portfolio_case6_up_box{
/* Frame 1086 */


/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10px;

position: absolute;
width: 283px;
height: 24px;
left: 16px;
top: 473px;

/* BW/black */

background: #212529;
border-radius: 32px;
}

.portfolio_case6_up_box_text{
/* СОЗДАНИЕ РЕКЛАМНОЙ КОМПАНИИ */


width: 267px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

letter-spacing: 0.02em;
text-transform: uppercase;

/* BW/white */

color: #FFFFFF;

z-index: 1;
/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.portfolio_case6_up_box1{
  /* Frame 1005 */


position: absolute;
width: 675.59px;
height: 513px;
left: 0px;
top: 0px;
}

.portfolio_case6_down{
/* Frame 268 */


/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 2px;

position: absolute;
width: 675.59px;
height: 60px;
top: 529px;

}

.portfolio_case6_down_box_text{
/* Аудит отдела маркетинга и продаж для Название бренда */


height: 31px;

/* HEADER/H4 Medium 24-130% */

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 130%;
/* or 31px */

letter-spacing: -0.03em;

/* BW/black */

color: #212529;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.portfolio_case6_down_box_text1{
/* Аудит, маркетинг сюда кратко теги */


height: 27px;

/* BODY/BASE Regular 18-150% Body */

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 150%;
/* identical to box height, or 27px */


/* BW/gray2 */

color: #8D959D;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
